
.featurelist{
     height: 400px; 
     overflow-y: scroll; 
}
     
.featuretable{
     height: 400px; 
     overflow-y: scroll; 
}

.featuretable tr:nth-child(2n){
    background:#72CBFA;
}
 
.valuetable tr:nth-child(2n){
    background:#72CBFA;
}
 
 

 .mathtable td{
    border: 2px inset black;
    padding: 2px;
}


.collectionlist{
    height:600px;
    overflow-y:scroll; 
}

 

#footer{  
    height:80px; 
    width:100%;
    bottom:0px;    
}

h1{
    
}

body{
  
}

#map-canvas{
    min-height:500px; 
    max-width:99% !important; 
    border: 2px solid gray;
    margin: 30px; 
     
}
 